:root{
    --background : #3a3a3a;
    --track: #4e4e4e;
    --block-1: #bb4444;
    --block-2: #4d79ca;
    --block-3: #5dc244;
    --block-4: #605dff;
    --block-5: #fbff2c;
    --block-6: #43f9ff;
}